:global(.table) .column-Main.Value, :global(.table) .column-Effect, :global(.table) .column-Constraint {
  white-space: normal; }

.react-bs-table-container {
  margin-bottom: 40px; }

h3 {
  text-align: center; }
